<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Camera permission with hardware requirement set to false -->
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SulfurEvents" >

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OrganizerCreateEventActivity" android:exported="true"/>
        <activity android:name=".OrganizerActivity" android:exported="true" />

        <activity android:name=".AdminDashboardActivity" android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".OrganizerWaitlistActivity" android:exported="false" />
        <activity android:name=".NotificationsActivity" android:exported="false" />
        <activity android:name=".OrganizerEnrolledActivity" android:exported="false"/>
        <activity android:name=".OrganizerInvitedActivity" android:exported="false"/>
        <activity android:name=".OrganizerCancelledActivity" android:exported="false" />

        <!-- ImageActivity for full-screen image preview -->
        <activity android:name=".ImageActivity" android:exported="false" />

        <!-- EventFilterActivity for filtering events -->
        <activity android:name=".EventFilterActivity" android:exported="false" />

        <!-- Other activities -->
        <activity android:name=".AdminEventsActivity" android:exported="false" />
        <activity android:name=".AdminProfilesActivity" android:exported="false" />
        <activity android:name=".AdminImagesActivity" android:exported="false" />
        <activity android:name=".EventImageDetailActivity" android:exported="false" />
        <activity android:name=".WelcomeEntrantActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".UpdateProfileActivity" android:exported="false" />
        <activity android:name=".OrganizerPreviewEventActivity" android:exported="true" />
        <activity android:name=".EntrantActivity" android:exported="false" />
        <activity android:name=".OrganizerViewEventActivity" android:exported="false" />
        <activity android:name=".LotteryGuidelinesActivity" android:exported="false" />
        <activity android:name=".SuccessfulDeleteActivity" android:exported="false" />
        <activity android:name=".AdminNotificationLogsActivity" android:exported="false" />

        <!-- Deep Link for EventDetailsActivity -->
        <activity
            android:name=".EventDetailsActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- deep link: sulfurevents://event/<eventId> -->
                <data
                    android:scheme="sulfurevents"
                    android:host="event" />
            </intent-filter>

        </activity>

    </application>

</manifest>
