<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.SulfurEvents">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyBwOOK_zkjGPgghAXxqDGdXPNfHsomQips" />

        <!-- FileProvider for image handling -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <!-- MAIN LAUNCHER -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Organizer Screens -->
        <activity android:name=".OrganizerCreateEventActivity" android:exported="false" />
        <activity android:name=".OrganizerActivity" android:exported="false" />
        <activity android:name=".OrganizerWaitlistActivity" android:exported="false" />
        <activity android:name=".OrganizerEnrolledActivity" android:exported="false"/>
        <activity android:name=".OrganizerInvitedActivity" android:exported="false"/>
        <activity android:name=".OrganizerCancelledActivity" android:exported="false" />
        <activity android:name=".OrganizerPreviewEventActivity" android:exported="false" />
        <activity android:name=".OrganizerViewEventActivity" android:exported="false" />

        <!-- Entrant Screens -->
<!--        testing push-->
        <activity android:name=".EntrantActivity" android:exported="false" />
        <activity android:name=".EventFilterActivity" android:exported="false" android:label="Filter Events" />
<!--        <activity android:name=".EventFilterActivity" android:exported="false" />-->
        <activity android:name=".LotteryGuidelinesActivity" android:exported="false" />
        <activity android:name=".NotificationsActivity" android:exported="false" />
        <activity android:name=".EntrantHistoryActivity" android:exported="false" android:label="Event History" />

        <!-- Profile & Onboarding -->
        <activity android:name=".WelcomeEntrantActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".UpdateProfileActivity" android:exported="false" />
        <activity android:name=".SuccessfulDeleteActivity" android:exported="false" />

        <!-- Admin Screens -->
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".AdminEventsActivity" android:exported="false" />
        <activity android:name=".AdminProfilesActivity" android:exported="false" />
        <activity android:name=".AdminImagesActivity" android:exported="false" />
        <activity android:name=".AdminEntrantListActivity" android:exported="false" />
        <activity android:name=".AdminEntrantNotificationsActivity" />
        <activity android:name=".AdminNotificationLogsActivity" android:exported="false" />

        <!-- Image Viewer -->
        <activity android:name=".ImageActivity" android:exported="false" />
        <activity android:name=".EventImageDetailActivity" android:exported="false" />

        <!-- Event Map -->
        <activity android:name=".EventMapActivity" android:exported="false" />

        <!-- Deep Link: Event Details Viewer -->
        <activity
            android:name=".EventDetailsActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:scheme="sulfurevents"
                    android:host="event" />
            </intent-filter>
        </activity>

    </application>

</manifest>
